@import "mocha.css";

* {
    font-family: JetBrainsMono Nerd, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
}

button {
    color: @rosewater;
    border: none;
    border-radius: 0;
}

button:hover {
    background: transparent;
    box-shadow: none;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-left, .modules-right {
   background: rgba(0, 0, 0, 0.9);
   border-bottom: 2px solid @teal;
}

.modules-center {
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 2px solid @teal;
    margin: 0 4px;
}

#workspaces,
#custom-msi,
#clock,
#temperature,
#cpu,
#memory,
#disk,
#network,
#battery {
    padding: 0 4px;
}

#custom-msi {
    color: @flamingo;
}

#clock {
    color: @mauve;
}

#temperature {
    color: @maroon;
}

#cpu {
    color: @peach;
}

#memory {
    color: @teal;
}

#disk {
    color: @sky;
}

#network {
    color: @sapphire;
}

#battery { 
    color: @lavender;
}
